@page "/Cliente/Registro"
@using AgapeaBlazor2024.Client.Models.Services.Interfaces

@inject IJSRuntime jsService
@inject IRestService restService
@inject NavigationManager navigate

<div class="container">
    <div class="row">
        <div class="col">
            <h2><strong>Registrate en Agapea.com</strong></h2>
            <p>Tienes tres opciones para registrarte en agapea.com. Tienes tres opciones para registrarte en agapea.com. y disfrutar de nuestros servicios y ventajas. </p>
            <p>Puedes hacerlo a través de las redes sociales en 4 segundos. O registrarte con nosotros, no tardarás más de 40 segundos en hacerlo. Solo tendrás que rellenar el siguiente formulario con tus datos. </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>Registro con <img src="/images/agapea-logo.svg" width="186px;" height="40px;"></p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col">
            <div class="container">
                <EditForm Model="NuevoCliente" OnValidSubmit="RegistrarCliente">
                    <DataAnnotationsValidator></DataAnnotationsValidator>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label">Correo Electronico:</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="mail@mail.com" @bind-value="NuevoCliente.Credenciales.Email">
                            <ValidationMessage For="@(()=>NuevoCliente.Credenciales.Email)"></ValidationMessage>
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail5" class="form-label">Repetir Correo Electronico:</label>
                            <input type="email" class="form-control" id="inputEmail5" placeholder="mail@mail.com" name="repemail">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="inputPassword4" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword4" placeholder="contraseña" @bind-value="NuevoCliente.Credenciales.Password">
                            <ValidationMessage For="@(()=>NuevoCliente.Credenciales.Password)"></ValidationMessage>
                        </div>
                        <div class="col-md-6">
                            <label for="inputPassword5" class="form-label">Repetir Contraseña</label>
                            <input type="password" class="form-control" id="inputPassword5" placeholder="repetir contraseña" name="reppassword">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="inputNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="mi nombre" @bind-value="NuevoCliente.Nombre">
                            <ValidationMessage For="@(()=>NuevoCliente.Nombre)"></ValidationMessage>
                        </div>
                        <div class="col-md-6">
                            <label for="inputApellidos" class="form-label">Apellidos:</label>
                            <input type="text" class="form-control" id="inputApellidos" placeholder="mis apellidos" @bind-value="NuevoCliente.Apellidos">
                            <ValidationMessage For="@(()=>NuevoCliente.Apellidos)"></ValidationMessage>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-6">
                            <label for="inputLogin" class="form-label">Usuario:</label>
                            <input type="text" class="form-control" id="inputLogin" placeholder="nombre usuario o login" @bind-value="NuevoCliente.Credenciales.Login">
                        </div>
                        <div class="col-md-6">
                            <label for="inputTelefono" class="form-label">Telefono:</label>
                            <input type="text" class="form-control" id="inputTelefono" placeholder="Mi telefono" @bind-value="NuevoCliente.Telefono">
                            <ValidationMessage For="@(()=>NuevoCliente.Telefono)"></ValidationMessage>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col">
                            <p><small class="text-mutted">Agapea S.A se compromete a garantizar la seguridad de tus datos y a guardarlos en la más estricta confidencialidad.</small></p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkInfo">
                                <label class="form-check-label" for="checkInfo">
                                    Deseo recibir información sobre libros, novedades y eventos de Agapea.com o sus librerías.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkCondiciones" name="condUso" value="true" checked>
                                <label class="form-check-label" for="checkCondiciones">
                                    Acepto las condiciones de uso y nuestra politica de cookies.
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg">REGISTRAME</button>
                        </div>
                    </div>

                </EditForm>
            </div>
        </div>
    </div>

</div>


@code {
    #region ...propiedades componente Registro.razor ...

    public Cliente NuevoCliente { get; set; } = new Cliente();

    #endregion





    #region ...metodos componente Registro.razor ...

    public async Task RegistrarCliente()
    {
        //necesito pasar por AJAX datos de variable modelo NuevoCliente a servicio RESTFUL montado en el servidor asp.net core....
        await jsService.InvokeVoidAsync("console.log", NuevoCliente);

        RestMessage _respuesta = await this.restService.RegistrarCliente(NuevoCliente);
        await jsService.InvokeVoidAsync("console.log", _respuesta);

        if (_respuesta.Codigo==0)
        {
            //redirigir a registro OK para q cliente revise su email y active cuenta...
            this.navigate.NavigateTo("/Cliente/RegistroOK");
        } else
        {
            //mostrar mensaje de error en la vista del componente....
        }
    } 
    #endregion
}